*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    height: 180px;
}

#logo-thebooleaner{
    width: 250px;
    margin-top: 100px;
}

.description{
    margin-top: 20px;
}

h4{
    color: grey;
}

span{
    color: red;
}

ul{
    margin: 20px;
}

.first-row{
    background-color: aqua;
}

.body-row{
    background-color: aquamarine;
}